.voxorp,
.hexbois {
  h2 {
    font-size: 2.5rem;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      background-size: 100%;
      background-repeat: no-repeat;
      width: 2.5rem;
      height: 2.5rem;
      margin-right: 0.2rem;
    }
  }
}

.voxorp {
  background-color: #fff0f8;

  .screenshot1 {
    background-image: url("/src/images/voxorp-screenshot-1.webp");
  }

  .screenshot2 {
    background-image: url("/src/images/voxorp-screenshot-2.webp");
  }

  .screenshot3 {
    background-image: url("/src/images/voxorp-screenshot-3.webp");
  }

  h2 {
    @extend %voxorp-font;

    &::before {
      background-image: url("/src/images/voxorp-icon.png");
    }
  }
}

.hexbois {
  background-color: #f0fbff;

  .screenshot1 {
    background-image: url("/src/images/hexbois-screenshot-1.webp");
  }

  .screenshot2 {
    background-image: url("/src/images/hexbois-screenshot-2.webp");
  }

  .screenshot3 {
    background-image: url("/src/images/hexbois-screenshot-3.webp");
  }

  .screenshot4 {
    background-image: url("/src/images/hexbois-screenshot-4.webp");
  }

  h2 {
    @extend %hexbois-font;

    &::before {
      background-image: url("/src/images/hexbois-icon.png");
    }
  }
}

.image {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  float: right;
  clear: both;
  margin: 0 0 1rem 1rem;
  border-radius: 8px;
  max-width: 16rem;
  width: 40vw;
}
