@import "/src/styles/components";

.social-links {
  * {
    @extend %social-icon;

    display: inline-block;
    margin-right: 0.2rem;
  }

  .github {
    &::before {
      background-image: url("/src/images/github-icon.png");
    }
  }

  .twitter {
    &::before {
      background-image: url("/src/images/twitter-icon.png");
    }
  }

  .youtube {
    &::before {
      background-image: url("/src/images/youtube-icon.png");
    }
  }
}

%social-icon {
  @extend %icon-link;

  width: 40px;
  height: 40px;
}
